SUPABASE_SECRET_KEY=sb_secret_replace_locally
EMPLOYER_EMAIL=employer.test01@gmail.com
EMPLOYER_PASSWORD=replace_with_the_test_password
EMPLOYER_NAME=Test Employer
EMPLOYER_PHONE=0000000000
EMPLOYER_COMPANY=JobMor Test Company
EMPLOYER_CATEGORY=technology
EMPLOYER_ADDRESS=KU Sriracha
